<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTO Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.cy.mapper.UserMapper">
    <select id="findAll" resultType="User">
        select * from users
    </select>
    <select id="findByUserId" resultType="User">
        select * from users where userId = #{userId}
    </select>
    <select id="findByUserName" resultType="User">
        select * from users where username = #{username}
    </select>
    <insert id="insert">
        insert into users (userId,username,password,phone,address,vaccination,role) values (#{userId},#{username},#{password},#{phone},#{address},#{vaccination},#{role})
    </insert>
</mapper>